@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body{
    background-color:beige
}

.heading{
    box-sizing: border-box;
    /* border: 2px solid chocolate; */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color:bisque;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    margin-bottom: 15px;
    
    
}

.heading > .logo{
    color:coral;
    font-family: 'Roboto Mono','Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 1.5em;
}

.heading > .add-button-div{
    width: 20%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.heading > .add-button-div>button{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border:  bisque;
    background-color: coral;
    font-size: larger;
}


.popup{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: coral;
    position: fixed;
    top:50%;
    right: -350px;
    transform: translateY(-50%);    
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    transition: right 0.3s ease-in-out;
    border-radius: 10px;     

}

.popup.show > .form{
    opacity: 0.7;
    gap:5px;
    border-radius: 10px;
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.popup.show{
    right: 50px;
}

.form{
    display:flex;
    flex-direction: column;}

.form>button{
    background-color: white;
    font-family: 'Roboto Mono','Times New Roman', Times, serif;
    font-weight: bold;
    border-radius: 10px;
    font-size: 10px;
}
.form> input{
    font-size: 20px;
}

.book-card{
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    padding:20px;
    margin: 10px;
    width: 200px;
    border: 1px solid chocolate;
    background-color: bisque;
    border-radius: 10px;
}
.book-card > .card_header{
    display: flex;
    justify-content: space-between;
   
}
.book-card > .card_header > h3{
    font-size: 1.2em;
    font-weight: bolder;
}

.book-card > .card_header > h3{
    font-size: 1em;
    font-weight: bolder;
    color:coral;
    font-family: 'Roboto Mono','Times New Roman', Times, serif;
}   

.book-card > .card_body > button{
    background-color: chocolate;
    border:none;
    color:white;
    margin:3px;
    border-radius: 5px;
    font-family: 'Roboto Mono','Times New Roman', Times, serif;
}



.library{
    display: grid;
    grid-template-columns: repeat(5,minmax(300px,1fr));
}

@media (max-width:450px){
    .heading{
        flex-direction: column;
        justify-content: center;

    }
    .heading .add-button-div{
        display: flex;
        justify-content: center;
    }
    .library{
        grid-template-columns: repeat(1,minmax(300px,100%));
        align-items: center;
        justify-content: center;
    }
}

